# Игнорирование node_modules (папка с зависимостями)
node_modules/

# Игнорирование логов
*.log

# Игнорирование файлов конфигурации
.env

# Игнорирование папки данных (если не хотите коммитить контакты)
data/

# Игнорирование операционных системных файлов
.DS_Store
Thumbs.db
